#loginCard{
    padding: 2vw;
}
.no-code-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    display: block;
    cursor: pointer;
    text-decoration: underline;
    
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.no-code-link.visible {
    opacity: 1;
    pointer-events: auto;
}
