#buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: fixed;
  padding: 1rem;
  justify-content: center;
  z-index: 1000;
  top: 230px;
   left: 50%;      
  transform: translateX(-50%);
}

.btn {
  margin: 1px;
}