body {
  background-color: #fffef4;
  color: rgb(84, 69, 65);;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.button:hover {
  border: solid 3px #bda771;
  background-color: #fdfbe2;
}

.button {
  background-color: #fffef4;
  border: solid 3px #dec071;
  color: #544541;
  padding: 9px 18px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  border: solid 3px #bda771;
  background-color: #fdfbe2;
}

/* Tablet */
@media (max-width: 900px) {
  .button {
    padding: 8px 12px;
    font-size: 23px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .button {
    padding: 6px 8px;
    font-size: 12px;
    border: solid 2px #bda771;
  }
}