.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    border-bottom: solid 2px rgb(84, 69, 65);
    height: 230px;
      background-color: #fffef4;

}

.logo {
    max-width: 200px;
    height: auto;
    position: fixed;
    left: 0%;
    margin-top: 115px;
}

.b {
    position: fixed;
    top: 2vw;
    right: 2vw;
}

h1 {
    margin: 26px 0;
}

h3 {
    margin: 4px 0;
}

.details-container .MuiInputBase-root input {
    text-align: center;
}

/* ====== Tablet (גודל מסך עד 900px) ====== */
@media (max-width: 900px) {
    .details-container {
        height: 230px;
    }

    .details-container .MuiInputBase-root input {
        width: 250px;
    }

    .logo {
        max-width: 160px;
        margin-top: 140px;
    }

    h1 {
        margin: 25px 0;
    }

    h3 {
        font-size: 18px;
        margin: 3px 0;
    }
}

/* ====== Mobile (גודל מסך עד 600px) ====== */
@media (max-width: 600px) {
    .details-container {
        height: 180px;
    }

    .details-container .MuiInputBase-root input {
        width: 180px;
    }

    .logo {
        max-width: 120px;
        margin-top: 110px;
    }

    .b {
        top: 1vw;
        right: 1vw;
    }

    h1 {
        margin: 15px 0;
    }

    h3 {
        font-size: 14px
    }
}